.main {
  width: 100%;
  margin-top: 70px;
}

.main .container {
  width: 60%;
  margin: 0 auto;
}

.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  place-items: start;
  height: 230px;
  overflow: hidden;
  padding: 20px 20px;
}

.trending .card {
  color: white;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.card>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.wrap-card {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-desc {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: .9rem;
  margin-top: 3px;
}

.card-publisher {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.publisher-name{
  font-size: .7rem;
}

.publisher-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.main-aside {
  color: var(--font);
  display: flex;
  align-items: flex-start;
  gap: 25px;
  padding: 20px;
}

.main-aside main {
  width: 70%;
}

.main-aside aside{
  position: sticky;
  top: 80px;
  width: 30%;
}

.premium {
  padding: 8px 12px;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--border);
}

.premium-text-img {
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.premium-img {
  margin-right: 10px;
  width: 30px;
}

.premium-title {
  font-size: .95rem;
  margin-bottom: 3px;
}

.premium-desc {
  font-size: .8rem;
}

.premium button {
  width: 100%;
  background-color: var(--main);
  border-radius: 150px;
  height: 35px;
  cursor: pointer;
}

.footer {
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 15px;
  background-color: var(--white);
  font-size: .88rem;
}

.wrap-footer {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 20px;
}

.footer li {
  margin-bottom: 5px;
  cursor: pointer;
}

.footer li:hover {
  text-decoration: underline;
}

.main-aside nav {
  font-size: .9rem;
  display: flex;
  align-content: center;
  border-radius: 8px;
  height: 60px;
  padding: 10px 10px;
  background-color: var(--white);
  border: 1px solid var(--border);
}

.main-aside nav ul {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 10px;
}

.main-aside nav ul li {
  cursor: pointer;
  border-radius: 150px;
  padding: 10px;
  background-color: var(--gray);
}

.main-aside nav ul li select {
  color: var(--font);
  background-color: var(--gray);
  cursor: pointer;
}

.wrap-post {
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid var(--border);
  background-color: var(--white);
}

.votes {
  min-width: 40px;
  min-height: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  border-top-left-radius: 7px;
  /* border-bottom-left-radius: 7px; */
  background-color: var(--gray);
}

.votes i {
  font-size: 1.4rem;
  cursor: pointer;
}

.votes i:hover {
  color: var(--main);
}

.post {
  padding: 15px 10px 10px;
}

.post-publisher {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.post-publisher-img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.post-publisher-name {
  font-size: .88rem;
}

.post-publisher i {
  position: absolute;
  right: 6px;
  top: 6px;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.post-publisher i:hover {
  background-color: var(--gray);
}

.title {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 10px;
  font-size: .99rem;
}


.content {
  width: 100%;
  font-size: .99rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 10px 0;
}

.social-controls {
  font-size: .88rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.social-controls div{
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: padding .5s ease-in-out;
}

.social-controls div:hover{
  background-color: var(--gray);
}

.wrap-add-post {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  z-index: 10;
}

.wrap-add-post.show-form {
  display: flex;
}

body.show-form{
  overflow: hidden;
}

.form-title {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-title h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}


.form-title i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: var(--font);
  cursor: pointer;
}

.form-title i:hover {
  border-radius: 8px;
  background-color: var(--gray);
}

.wrap-my-posts {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  color: var(--font);
  z-index: 10;
  overflow: hidden;
}

.wrap-my-posts.show-form {
  display: flex;
}

.wrap-title-content-posts {
  position: relative;
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 16px;
  height: 500px;
  width: 500px;
}

.title-my-posts {
  font-size: 1.3rem;
  padding: 20px 30px;
}

.title-my-posts i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-my-posts {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.close-my-posts:hover {
  background-color: var(--gray);
  border-radius: 8px;
}

.my-posts {
  position: relative;
  padding: 0 30px;
  width: 100%;
  height: 430px;
  overflow: auto;
}
